* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    width: 1680px;
    font-size: 0.95vw; 
}
#mobile {
    display: none;
}


::placeholder {
    color: #FFFFFF;
    opacity: 1;
}


button,
input[type="button"], 
input[type="submit"] {
    cursor: default; 
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a { 
    text-decoration: none; color: inherit; 
}

/*
   Header
*/
header {
    background-color: #152237;
    width: 100%;
    height: 4.76vw; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5.95vw;
}

.logo img {
    width: 5vw; 
}

span {
    font-size: 0.9vw;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 2vw;
    white-space: nowrap;
}

#champs-head {
    flex: 1; 
    display: flex;
    justify-content: center;
}

input[type="search"] {
    width: 28.39vw; 
    height: 2.38vw; 
    border-radius: 0.35vw;
    background-image: url("ressources/loupe.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 1vw;
    border: 1px solid #ffffff;
    background-color: #1e2c41;
    color: white;
    padding-left: 1vw;
    font-size: 0.9vw;
}

#bouton-head {
    display: flex;
    gap: 1.2vw;
}

.connexion, .inscription {
    font-size: 0.9vw;
    height: 2.38vw;
    padding: 0 1.5vw;
    border-radius: 0.35vw;
    border: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connexion { background-color: #FFFFFF; color: #152237; }
.inscription { background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%); color: #152237; }

/*
   Banniere
*/
#bannière {    
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/bg-header.png");
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 26.85vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bannière h1 {
    font-size: 2.85vw; 
    font-weight: 800;
    text-transform: uppercase;
    color: #152237;
    margin-bottom: 0.5vw;
}

#bannière h2 {
    font-size: 1.19vw;
    margin-bottom: 2vw;
    color: #000;
    text-transform: uppercase;
}

#bannière button {
    padding: 0.65vw 1.5vw;
    font-size: 0.9vw;
    border: none;
    border-radius: 0.35vw;
    background-color: #ffffff;
    color: #152237;
    font-weight: 500;
}

/*
   Formation
   */
#les-formations-populaires, 
#les-formations-récentes {
    padding: 3vw 5.95vw; 
    width: 100%;
}

#les-formations-récentes { 
    background: #152237; 
}
#les-formations-récentes h2, #les-formations-récentes h3, #les-formations-récentes p { 
    color: white;
 }
#les-formations-récentes .nv-prix p, #les-formations-récentes .an-prix p { 
    color: #152237; 
}
#les-formations-récentes .prix { 
    background-color: white; 
}

#title, #title2 {
    font-size: 2.14vw;
    font-weight: 800;
    margin-bottom: 2vw;
    color: #152237;
}


#les-formation, #les-formation2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.78vw; 
    margin-bottom: 3vw;
}

.formation {
    width: 18.27vw;
    padding: 0.9vw;
    position: relative;
}

.formation img {
    width: 100%;
    border-radius: 0.35vw;
}

.prix {
    position: relative;
    top: -0.9vw;
    left: 72%;
    transform: translateX(-50%);
    background-color: #152237;
    border-radius: 5vw;
    width: 7.14vw;
    height: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0,0,0,0.2);
}

.nv-prix p { 
    color: white; margin: 0; font-weight: bold; 
    font-size: 1.19vw; 
}
.an-prix p { 
    color: #ffffff; text-decoration: line-through; 
    font-size: 0.6vw; 
    margin: 0; 
}


.formation h3 {
    margin: 0.5vw 0;
    font-size: 1.2vw;
    color: #152237;
}

.personne {
    font-size: 0.95vw;
    color: #000;
}

.rating-box {
    display: flex;
    gap: 0.2vw;
    margin: 0.5vw 0;
    font-size: 0.8vw;
    color: #FFC700;
}
.yellow { color: #FFC7004D; }


#button, #button2 { display: flex; justify-content: center; }
#bouton-formation, #bouton-formation2 {
    width: 13.39vw;
    height: 2.38vw;
    border-radius: 0.35vw;
    font-weight: 500;
    font-size: 0.9vw;
    border: none;

}
#bouton-formation { background: #152237; color: white; }
#bouton-formation2 { background: white; color: #152237; }


/*
   Avis
   */
#avis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 10vw;
}

#avis h2 {
    font-size: 2.14vw; 
    font-weight: 800;
    margin-bottom: 3vw;
    color: #152237;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;
}

#client1, #client2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#avis img {
    width: 8.27vw;
    height: 8.27vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1vw;
}

#client1 h3, #client2 h3 {
    font-size: 1.4vw;
    margin: 0 0 0.5vw 0;
}


/*
   SECTION AUTEUR (Vert) & AVANTAGES
   */
#author, #avantages {
    width: 100%;
    min-height: 38.15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5.95vw;
    gap: 5vw;
}

#author { 
    background: #44DD8A; 
}
#avantages { 
    background-color: #F5F5F5;
}
.author-img-wrapper, #avantages img {
    width: 43.4vw;
    height: auto;
}

.author-img-wrapper img { width: 100%; }


.liste {
    width: 40vw;
    color: #152237;
}

#author h2, #avantages h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2vw;
    line-height: 1.1;
}

#author ul li, #avantages ul li {
    display: flex;
    align-items: flex-start;
    gap: 0.89vw;
    margin-bottom: 0.89vw;
    font-size: 1.07vw;
    line-height: 1.5;
    font-weight: 500;
}

#author ul li svg, #avantages ul li i {
    flex-shrink: 0;
    width: 1.78vw;
    height: 1.78vw;
    margin-top: 0.2vw;
}
#avantages ul li i { 
    font-size: 1.78vw; color: #44DD8A;
 }


/*
   À PROPOS
   */
#à-propos {
    display: flex;
    width: 100%;
}

#propos {
    background: #F5F5F5;
    width: 50%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo2 {
    background: #152237;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo2 img { 
    width: 20vw; 
}

#propos h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #152237;
    margin-bottom: 1.5vw;
}

#propos p {
    font-size: 1.07vw;
    line-height: 1.6;
    margin-bottom: 1vw;
}


/*
   CONTACT
   */
#contact {
    padding: 4vw 0;
    text-align: center;
}

#contact h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #152237;
    margin-bottom: 2vw;
}

#contact hr {
    width: 20.83vw;
    border: 1px solid #44DD8A;
    margin: 0 auto 3vw auto;
}

#my-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.input {
    display: flex;
    gap: 116px;
}

#name, #email {
    width: 35.7vw;
    height: 2.68vw;
    background-color: #152237;
    border: none;
    color: white;
    padding-left: 1vw;
    font-size: 0.9vw;
}



textarea {
    width: 79vw; 
    height: 12vw;
    background-color: #152237;
    border: none;
    color: white;
    padding: 1vw;
    font-size: 0.9vw;
    margin-top: 3.318452381vw;
}

#submit {
    width: 20.83vw;
    height: 2.68vw;
    background: #44DD8A;
    border: none;
    border-radius: 0.35vw;
    font-weight: bold;
    font-size: 0.9vw;
    color: #152237; 
    margin-top: 2vw;
}


/*
   FOOTER
   */
footer {
    background-color: #152237;
    width: 100%;
    color: white;
    padding-bottom: 2vw;
}


#ligne-bloc {
    width: 100%;
    height: 0.5vw;
    background: linear-gradient(90deg, #44DD8A 0%, #15B7E2 100%);
    border: none;
    margin: 0 0 4vw 0;
}

.fin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10vw;
    width: 100%;
}

#image {
    width: 8.9vw; 
}

#list {
    display: flex;
    gap: 4.76vw; 
    margin-top: 0.5vw;
}

footer h3 {
    font-size: 1.07vw;
    font-weight: 700;
    margin: 0 0 1.5vw 0;
    color: #FFF;
}

footer ul li {
    font-size: 0.9vw;
    margin-bottom: 1vw;
    line-height: 1.4;
    color: #DDDDDD;
}
#coordonnées ul li:nth-child(1){
    list-style: url("ressources/localisation.svg");
}
#coordonnées ul li:nth-child(2){
    list-style: url("ressources/telephone.svg");
}
#coordonnées ul li:nth-child(3){
    list-style: url("ressources/email.svg");
}
#coordonnées ul li {
    display: flex;
    align-items: flex-start;
    gap: 0.6vw;
}
#coordonnées ul li svg {
    width: 1.2vw;
    height: 1.2vw;
    margin-top: 0.2vw;
}

.boutons {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: flex-end;
}
.boutons button {
    width: 7.73vw;
    height: 2.38vw; 
    font-size: 0.9vw;
    border-radius: 0.3vw;
}


#ligne {
    width: 80%;
    height: 1px;
    background-color: #44DD8A;
    border: none;
    margin: 4vw auto 2vw auto;
}


#color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    font-size: 0.8vw;
    color: #CCCCCC;
}

.icon-logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.icon-logo p { margin: 0; color: white; margin-right: 0.5vw; }
.icon-logo img { width: 1.4vw; }


/*
   MEDIA QUERIES
   */
@media screen and (max-width: 394px) {

    body { font-size: 14px; }
    #mobile {
        display: block;
    }
    header { height: auto; padding: 15px; flex-direction: row; gap: 15px; }
    .logo img { width: 120px; }
    input[type="search"] { width: 100%; height: 40px; font-size: 14px; }
    .connexion, .inscription { width: 100%; height: 40px; font-size: 14px; }
    #champs-head {
        display: none;
    }
    span {
        display: none
    }
    #bouton-head {
        display: none;
    }
    #bannière { 
        height: 300px; 
    }
    #bannière h1 { 
    font-size: 32px;
    }
    #bannière h2 { 
    font-size: 20px;
    }
    
    #les-formation, #les-formation2 { 
        justify-content: center;
     }
    .formation {
         width: 100%; max-width: 350px;
         }
    .formation h3 { 
        font-size: 18px;
     }
    .prix { 
        width: 120px; height: 30px; font-size: 16px; top: -15px;
     }
    .nv-prix p { 
        font-size: 18px; 
    }
    
    #author, #avantages, #à-propos, #contact, .fin, #color {
        flex-direction: column;
        padding: 40px 20px;
        gap: 30px;
    }
    #author {
         flex-direction: column-reverse;
         }
    
    .author-img-wrapper, #avantages img, .liste, #propos, #logo2, #my-form, .input, textarea, #submit {
        width: 100%;
    }
    
    #author h2, #avantages h2, #contact h2, #propos h2 { 
        font-size: 24px; 
    }
    #author ul li, #avantages ul li { 
        font-size: 14px; gap: 10px; 
    }
    #author ul li svg, #avantages ul li i {
         width: 24px; height: 24px; 
        }
    
    .input { flex-direction: column; }
    #name, #email { width: 100%; height: 45px; }
    textarea { height: 150px; }
    
    #image { width: 150px; margin: 0 auto; }
    #list { flex-direction: column; gap: 30px; text-align: center; }
    #coordonnées ul li { justify-content: center; }
    #coordonnées ul li svg { width: 18px; }
    
    .boutons { align-items: center; width: 100%; }
    .boutons button { width: 100%; max-width: 300px; height: 45px; font-size: 16px; }
    
    #color { flex-direction: column-reverse; gap: 20px; }
}