body{
  margin:0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    height: 80px;
    background-color: #152237;
}

.logo img {
    width: 84px;
    height: 31px;
    margin-top: 25px;
    margin-left: 98px;
    margin-bottom: 24px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3 {
    color:#152237;

}

#bannière h2{
    width: 711px;
    height: 24px;
}


#bannière {    
    background-image:linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/bg-header.png");
    width: 1680px;
    height: 450px;
    display:flex
}


header .connexion {
    font-size: 15px;
    width: 130px;
    height: 40px;
    top: 20px;
    left: 1300px;
}
header .inscription {
    font-size: 15px;
    width: 130px;
    height: 40px;
    top: 20px;
    left: 1449px;
}

#bouton-head{
    display: flex;
    gap: 19px;
}

#champs-head {
    display:flex

}

input[type="search"] {
width: 477px;
height: 40px;
opacity: 1;
margin-top: 20px;
margin-left: 603px;
border-width: 1px;

}


#navigation {
   
    display: flex;
    flex-direction: row;
    width: 1680px;
    height: 80px;
}

#navigation label {
font-size: 15px;

}

.connexion {
    background-color: #FFFFFF;
    color:#152237;
    border-radius: 6px;
}

.inscription{
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    color:#152237;
    border-radius: 6px;
}

.client img {
    clip-path: circle();
}

#avis {
    display:flex;
}

.rating-box {
    color: #FFC700;
}

#avantages ul{
    list-style: none;
}

#avantages ul i {
    color: #44DD8A; /* Ton vert du dégradé */
    font-size: 1.2rem; /* Pour ajuster la taille */
    margin-right: 10px; /* Un peu d'espace avec le texte à côté */
}

#avantages ul {
    font-size: 24px;
}
