body{
  margin:0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    height: 80px;
    background-color: #152237;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}   

.logo img {
    width: 84px;
    height: 31px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3 {
    color:#152237;

}


#bannière {    
    background-image:linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/bg-header.png");
    width: 100%;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header .connexion {
    font-size: 15px;
    width: 130px;
    height: 40px;

}
header .inscription {
    font-size: 15px;
    width: 130px;
    height: 40px;

}

#bouton-head{
    display: flex;
    gap: 19px;
}

#champs-head {
    display:flex;

}

input[type="search"] {
width: 477px;
max-width: 100%;
height: 40px;
}


.connexion {
    background-color: #FFFFFF;
    color:#152237;
    border-radius: 6px;
}

.inscription{
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    color:#152237;
    border-radius: 6px;
}

.client img {
    clip-path: circle();
}

#avis {
    display:flex;
}

.rating-box {
    color: #FFC700;
}

#avantages ul{
    list-style: none;
}

#avantages ul i {
    color: #44DD8A; 
    font-size: 1.2rem;
    margin-right: 10px; 
}

#avantages ul {
    font-size: 24px;
}
