* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #152237;
    width: 100%;
    height: 7.619vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.048vh 1.488vw; 
    padding-right: 6.01vw;
    padding-left: 5.833vw;
}



.logo img {
    width: 84px;
    height: 31px;
}

#champs-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.19vw; 
}

span {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-left: 10vw;
    width: 6.548vw;
    height: 1.714vh;
    text-decoration: none;
    vertical-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    line-height: 100%; 
    letter-spacing: -1.5%;

}

input[type="search"] {
    width: 28.39vw;
    height: 3.81vh;
    margin-left: 8.51vw;
    border-radius: 6px;
    background-image: url("ressources/loupe.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1vh) center;
    border: 1px solid #ffffff;
    background-color: #1e2c41;
    color: white;
    background-size: 1.8vh;
    padding-right: 4vh;
    padding-left: 1vh;

}



#bouton-head {
    display: flex;
    align-items: center;
    flex: 1; 
    justify-content: flex-end;
    gap: 1.13vw;
}

.connexion, .inscription {
    font-size: 0.89vw;
    width: auto;
    height: 40px;
    padding: 11px 25px;
    border-radius: 6px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

.connexion {
    background-color: #FFFFFF;
    color: #152237;
}

.inscription {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    color: #152237;
}
/*----------------------------------------------------------------------------------------------------------*/
h1 {
    font-size: 2.98vw;
}

h1, h2, h3 {
    color: #152237;
}

#bannière {    
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/bg-header.png");
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bannière h2 {
    color:#000000;

}

.client img {
    clip-path: circle();
}

#avis {
    display: flex;
}

.rating-box {
    color: #FFC700;
}

#avantages ul {
    list-style: none;
    font-size: 1.43vw;
}

#avantages ul i {
    color: #44DD8A;
    font-size: 1.2rem;
    margin-right: 0.60vw;
} 