* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    max-width: 100vw;
    font-size: 0.95vw;
}

#mobile {
    display: none;
}


::placeholder {
    color: #FFFFFF;
    opacity: 1;
}


button,
input[type="button"],
input[type="submit"] {
    cursor: default;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 1.2vw;
}

header {
    background-color: #152237;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 5.95vw;
}

.logo img {
    width: 6vw;
    margin-left: 0;
}

span {
    font-size: 0.9vw;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    width: 110px;
    height: 18px;
    margin-left: 7vw;
    margin-right: 8.5vw;
}

#champs-head {

    display: flex;
    justify-content: center;
}

input[type="search"] {
    width: 28.5vw;
    height: 2.6vw;
    border-radius: 0.35vw;
    background-image: url("ressources/loupe.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 1.3vw;
    border: 1px solid #ffffff;
    background-color: #1e2c41;
    color: white;
    padding-left: 1vw;
    font-size: 0.9vw;
    margin-right: 13vw;
}

#bouton-head {
    display: flex;
    gap: 1.2vw;
}

.connexion,
.inscription {
    height: 2.6vw;
    padding: 0 1.8vw;
    font-size: 0.9vw;
    border-radius: 0.35vw;
    border: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connexion {
    background-color: #FFFFFF;
    color: #152237;
}

.inscription {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    color: #152237;
}

/*
   Banniere
*/
#bannière {
    background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/bg-header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 27vw;
    display: flex;
    padding-top: 8.5vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#bannière h1 {
    font-size: 3.2vw;
    font-weight: 800;
    text-transform: uppercase;
    color: #152237;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

#bannière h2 {
    font-size: 1.2vw;
    margin-top: 0;
    margin-bottom: 2.5vw;
    color: #000;
    text-transform: uppercase;
}

#bannière button {
    padding: 0.8vw 2vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.35vw;
    background-color: #ffffff;
    color: #152237;
    font-weight: 500;
}

/*
   Formation
   */
#les-formations-populaires,
#les-formations-récentes {
    padding: 3vw 5.95vw;
    width: 100%;
}

#les-formations-récentes {
    background: #152237;
}

#les-formations-récentes h2,
#les-formations-récentes h3,
#les-formations-récentes p {
    color: white;
}

#les-formations-récentes .nv-prix p,
#les-formations-récentes .an-prix p {
    color: #152237;
}

#les-formations-récentes .prix {
    background-color: white;
}

#title,
#title2 {
    font-size: 2.14vw;
    font-weight: 800;
    margin-bottom: 2.5vw;
    color: #152237;
}


#les-formation,
#les-formation2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.78vw;
    margin-bottom: 4vw;
}

.text {
    display: flex;
    flex-direction: column;

}

.formation {
    width: 305px;
    padding: 0.9vw;
    flex: 1 1 calc(25% - 5.36%);
    min-width: 250px;
    max-width: 305px;
}

.formation img {
    width: 100%;
    border-radius: 0.35vw;
    width: 305px;

    min-width: 250px;

}


.image-container {
    position: relative;
    width: 100%;

}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 0.35vw;
}

.prix {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 15px;
    transform: translateY(50%);
    background-color: #152237;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    top: auto;
    left: auto;
    margin: 0;
}

.nv-prix p {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.19vw;
}

.an-prix p {
    color: #ffffff;
    text-decoration: line-through;
    font-size: 0.6vw;
    margin: 0;
}


.formation h3 {
    margin: 0.5vw 0;
    font-size: 1.2vw;
    color: #152237;
    padding-top: 21px;
}

.personne {
    font-size: 0.95vw;
    color: #000;
}

.rating-box {
    display: flex;
    gap: 0.2vw;
    margin: 0.5vw 0;
    font-size: 0.8vw;
    color: #FFC700;
}

.yellow {
    color: #FFC7004D;
}


#button,
#button2 {
    display: flex;
    justify-content: center;
}

#bouton-formation,
#bouton-formation2 {
    width: 13.39vw;
    height: 2.38vw;
    border-radius: 0.35vw;
    font-weight: 500;
    font-size: 0.9vw;
    border: none;

}

#bouton-formation {
    background: #152237;
    color: white;
}

#bouton-formation2 {
    background: white;
    color: #152237;
}

#avis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 10vw;
}

#avis h2 {
    font-size: 2.14vw;
    font-weight: 800;
    margin-bottom: 3vw;
    color: #152237;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;
}

#client1,
#client2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#avis img {
    width: 8.27vw;
    height: 8.27vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1vw;
}

#client1 h3,
#client2 h3 {
    font-size: 1.4vw;
    margin: 0 0 0.5vw 0;
}

#author,
#avantages {
    width: 100%;
    min-height: 38.15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5.95vw;
    gap: 5vw;
}

#author {
    background: #44DD8A;
}

#avantages {
    background-color: #F5F5F5;
}

.author-img-wrapper,
#avantages img {
    width: 43.4vw;
    height: auto;
}

.author-img-wrapper img {
    width: 100%;
}


.liste {
    width: 40vw;
    color: #152237;
}

#author h2,
#avantages h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2vw;
    line-height: 1.1;
}

#author ul li,
#avantages ul li {
    display: flex;
    align-items: flex-start;
    gap: 0.89vw;
    margin-bottom: 0.89vw;
    font-size: 1.4vw;
    line-height: 1.5;
    font-weight: 500;
}

#author ul li i,
#avantages ul li i {
    flex-shrink: 0;
    width: 1.78vw;
    height: 1.78vw;
    margin-top: 0.2vw;
}

#author i {
    color: #FFFFFF;
    font-size: 1.78vw;
}

#avantages ul li i {
    font-size: 1.78vw;
    color: #44DD8A;
}

#à-propos {
    display: flex;
    width: 100%;
}

#propos {
    background: #F5F5F5;
    width: 50%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo2 {
    background: #152237;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo2 img {
    width: 20vw;
}

#propos h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #152237;
    margin-bottom: 1.5vw;
}

#propos p {
    font-size: 1.07vw;
    line-height: 1.6;
    margin-bottom: 1vw;
}


/*
   CONTACT
   */
#contact {
    padding: 4vw 0;
    text-align: center;
}

#contact h2 {
    font-size: 2.38vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #152237;
    margin-bottom: 2vw;
}

#contact hr {
    width: 20.83vw;
    border: 1px solid #44DD8A;
    margin: 0 auto 3vw auto;
}

#my-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.input {
    display: flex;
    gap: 116px;
}

#name,
#email {
    width: 35.7vw;
    height: 2.68vw;
    background-color: #152237;
    border: none;
    color: white;
    padding-left: 1vw;
    font-size: 0.9vw;
}



textarea {
    width: 79vw;
    height: 12vw;
    background-color: #152237;
    border: none;
    color: white;
    padding: 1vw;
    font-size: 0.9vw;
    margin-top: 3.318452381vw;
}

#submit {
    width: 20.83vw;
    height: 2.68vw;
    background: #44DD8A;
    border: none;
    border-radius: 0.35vw;
    font-weight: bold;
    font-size: 0.9vw;
    color: #152237;
    margin-top: 2vw;
}


/*
   FOOTER
   */
footer {
    background-color: #152237;
    width: 100%;
    color: white;
    padding-bottom: 2vw;
}


#ligne-bloc {
    width: 100%;
    height: 1vw;
    background: linear-gradient(90deg, #44DD8A 0%, #15B7E2 100%);
    border: none;
    margin: 0 0 4vw 0;
}

.fin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8.6vh 6vw 3.52vh 5.71vw;
    width: 100%;

}

#image {
    width: 14.5vw;
}

#list {
    display: flex;
    gap: 4.76vw;
    margin-top: 0.5vh;
}

footer h3 {
    font-size: 1.07vw;
    font-weight: 700;
    margin: 0 0 1.5vw 0;
    color: #FFF;
}

footer ul li {
    font-weight: 400;
    font-size: 15px;
    list-style: -1.5%;
    line-height: 24px;
    color: #DDDDDD;
    padding-left: 1.13vw;
}

#coordonnées ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

#coordonnées ul li:nth-child(1)::before {
    background-image: url("ressources/localisation.svg");
}

#coordonnées ul li:nth-child(2)::before {
    background-image: url("ressources/telephone.svg");
}

#coordonnées ul li:nth-child(3)::before {
    background-image: url("ressources/email.svg");
}

#coordonnées ul li {
    display: flex;
    align-items: flex-start;
    gap: 0.6vw;
}


.boutons {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: flex-end;
}

.boutons button {
    width: 7.73vw;
    height: 2.38vw;
    font-size: 0.9vw;
    border-radius: 0.3vw;
}


#ligne {
    width: 80%;
    height: 2px;
    background-color: #44DD8A;
    border: none;
    margin: 4vw auto 2vw auto;
}


#color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    font-size: 0.8vw;
    color: #CCCCCC;
}

.icon-logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.icon-logo p {
    margin: 0;
    color: white;
    margin-right: 0.5vw;
}

.icon-logo img {
    width: 1.4vw;
}

#reseaux-sociaux {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 0.9vw;
}


@media screen and (max-width: 796px) {

    body {
        font-size: 15px;
    }

    h1,
    h2,
    h3 {
        line-height: 1.2;
    }

    header {
        padding: 15px 20px;
    }

    .logo img {

        width: 84px;
        height: 31px;
    }

    .connexion,
    .inscription {
        display: none;
    }

    #color {
        display: none;
    }

    #ligne {
        display: none;
    }

    #mobile {
        display: block;
        font-size: 24px;
        color: white;
    }

    .image-container {
        position: relative;
        width: 100%;

        margin-bottom: 0;
    }

    .image-container img {
        width: 100%;
        display: block;
        border-radius: 0.35vw;
    }

    #champs-head,
    #bouton-head,
    header span {
        display: none;
    }

    #bannière {
        height: 364px;
        background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("ressources/pexels-polina-zimmerman-3747457\ 1.png");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
    }

    #bannière h1 {
        font-size: 32px;
    }

    #bannière h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    #bannière button {
        padding: 12px 24px;
        font-size: 14px;
        border-radius: 5px;
    }

    #title,
    #title2,
    #avis h2,
    #author h2,
    #avantages h2,
    #contact h2,
    #propos h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    #les-formation,
    #les-formation2 {
        justify-content: center;
        gap: 30px;
    }

    .formation {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 10px;
    }



    .prix {
        width: 120px;
        height: 31.15px;
        gap: 7px;


        border-radius: 93px;
    }

    .nv-prix p {
        font-size: 20px;
    }

    .an-prix p {
        font-size: 10px;
    }

    .formation h3 {
        font-size: 18px;
        margin-top: 15px;
    }

    .personne {
        font-size: 14px;
    }

    #bouton-formation,
    #bouton-formation2 {
        width: 100%;
        max-width: 300px;
        height: 45px;
        font-size: 16px;
        margin-bottom: 54px;
    }

    .clients {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #client1,
    #client2 {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #client1 h3,
    #client2 h3 {
        font-size: 18px;
    }

    #avis img {
        width: 80px;
        height: 80px;
    }

    #author,
    #avantages,
    #à-propos {
        flex-direction: column;
        padding: 40px 20px;
        height: auto;
    }

    #à-propos {
        padding: 0;
    }

    #author {
        flex-direction: column-reverse;
    }

    .author-img-wrapper,
    #avantages img,
    #logo2 {
        width: 100%;
        max-width: 100%;
    }

    .liste-author i {
        font-size: 18px;
    }

    .liste,
    #propos,
    #logo2 {
        width: 100%;
    }

    #logo2 {
        height: 300px
    }

    #logo2 img {
        width: 150px;

    }

    #author ul li,
    #avantages ul li {
        font-size: 14px;
        margin-bottom: 15px;
    }

    #author ul li svg,
    #avantages ul li i {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .rating-box {
        font-size: 5.6vw;
    }

    .rating-box i {
        font-size: 18px;
        margin-right: 2px;
    }

    .rating-box {
        margin: 10px 0;
        gap: 5px;

    }


    #propos p {
        font-size: 14px;
    }

    .input {
        flex-direction: column;
        gap: 15px;
    }

    #name,
    #email {
        width: auto;
        height: 46px;
        font-size: 15px;
    }

    textarea {

        height: 150px;
        margin-top: 15px;
        font-size: 16px;
    }

    #submit {
        height: 45px;
        font-size: 16px;
        border-radius: 6px
    }


    /* -- FOOTER -- */
    .fin {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    #image {
        width: 150px;
        margin: 0 auto;
    }

    #list {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    footer h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    footer ul li {
        font-size: 14px;
        justify-content: center;
    }

    .boutons {
        align-items: center;
        width: 100%;
    }

    .boutons button {
        width: 100%;
        max-width: 250px;
        height: 45px;
        font-size: 14px;
    }

    #color {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
        padding-bottom: 20px;
    }

    .icon-logo {
        margin-bottom: 10px;
    }

    .icon-logo img {
        width: 20px;
    }
}